# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules
.pnp
.pnp.js

# Build output
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test results
test-results
playwright-report

# TypeScript
*.tsbuildinfo
.claude/settings.local.json
.claude/commands
/.claude/skills/agent-browser/
/.claude/skills/openspec-apply-change/
/.claude/skills/openspec-archive-change/
/.claude/skills/openspec-explore/
/.claude/skills/openspec-propose/
